@use '../../styles/base';

.details-container {
  display: flex;
  gap: 20%;
  font-family: base.$font-family;
}

.details-header {
  color: base.$font-secondary-color;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: base.$semi-bold;
  margin: 0;
  text-transform: uppercase;
}

.details-info {
  color: base.$font-primary-color;
  font-size: 14px;
  line-height: 21px;
  font-weight: base.$semi-bold;
  margin: 0;
}
@media (max-width: 768px) {
  .details-container {
    gap: 15%;
  }
}
@media (max-width: 420px) {
  .details-container {
    gap: 10%;
  }
}
