@use '../../styles/base';


.ticket-container {
    background-color: white;
    max-width: 502px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.price{
    font-family: base.$font-family;
    color:  base.$primary-color;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}


.ticket-info {
    display: flex;
}

.flight-details {
    display: flex;
    flex-direction: column;
    gap: 10px
}