$font-family: 'Open Sans', sans-serif;

$primary-color: #2196F3;
$secondary-color-border: rgba(255, 255, 255, 1);

$font-primary-color: #4A4A4A;
$font-secondary-color: #A0B0B9;

$semi-bold: 550;
// $regular:;






