@use '../../styles/base';

.button {
  background-color: base.$primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  font-size: 12px;
  font-family: base.$font-family;
  font-weight: base.$semi-bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.85;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 103px;
  margin: 0 auto;
  background-color: #f3f7fa;
  min-height: 100vh;
  box-sizing: border-box;
}

.logo {
  margin: 0 auto;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 0 auto;
  margin-top: 5px;
}

.results-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container {
  position: relative;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
}

@media (max-width: 768px) {
  .page-content {
    flex-direction: column;
    align-items: stretch;
  }
  .wrapper {
    padding: 25px 15px;
  }
}

@media (max-width: 420px) {
  .wrapper {
    padding: 5px 10px;
    gap: 0;
  }
  .button {
    padding: 15px 55px;
    font-size: 15px;
  }
}
