@use '../../styles/base';

.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.no-tickets-heading {
  color: base.$font-primary-color;
  font-family: base.$font-family;
  font-weight: base.$semi-bold;
}
